@model MVCCamiloMentoria.ViewModels.AlunoViewModel


<div class="justify-content-center">
    <br />
    <h4>Cadastro de Aluno</h4>
</div>

<hr />

<div class="row">
    <div class="col-md-8 offset-md-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <!-- Seção Informações Pessoais -->
            <fieldset class="border rounded p-3 mb-4">
                <legend class="w-auto px-2">Informações Pessoais</legend>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group mb-3">
                            <label asp-for="Nome" class="form-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label asp-for="DataNascimento" class="form-label"></label>
                            <input asp-for="DataNascimento" class="form-control" />
                            <span asp-validation-for="DataNascimento" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="EmailEscolar" class="form-label"></label>
                    <input asp-for="EmailEscolar" class="form-control" />
                    <span asp-validation-for="EmailEscolar" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="AnoInscricao" class="form-label"></label>
                            <input asp-for="AnoInscricao" class="form-control" />
                            <span asp-validation-for="AnoInscricao" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center">
                        <div class="form-check mt-3">
                            <input class="form-check-input" asp-for="BolsaEscolar" />
                            <label class="form-check-label" asp-for="BolsaEscolar"></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="TurmaId" class="form-label"></label>
                            <select asp-for="TurmaId" class="form-select" asp-items="ViewBag.TurmaId"></select>
                            <span asp-validation-for="TurmaId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="EscolaId" class="form-label"></label>
                            <select asp-for="EscolaId" class="form-select" asp-items="ViewBag.EscolaId"></select>
                            <span asp-validation-for="EscolaId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- Seção Telefone -->
            <fieldset class="border rounded p-3 mb-4">
                <legend class="w-auto px-2">Telefone</legend>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label asp-for="DDD" class="form-label"></label>
                            <input asp-for="DDD" class="form-control" />
                            <span asp-validation-for="DDD" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group mb-3">
                            <label asp-for="Numero" class="form-label"></label>
                            <input asp-for="Numero" class="form-control" />
                            <span asp-validation-for="Numero" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- Seção Endereço -->
            <fieldset class="border rounded p-3 mb-4">
                <legend class="w-auto px-2">Endereço</legend>

                <div class="form-group mb-3">
                    <label asp-for="NomeRua" class="form-label"></label>
                    <input asp-for="NomeRua" class="form-control" />
                    <span asp-validation-for="NomeRua" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label asp-for="NumeroRua" class="form-label"></label>
                            <input asp-for="NumeroRua" class="form-control" />
                            <span asp-validation-for="NumeroRua" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group mb-3">
                            <label asp-for="Complemento" class="form-label"></label>
                            <input asp-for="Complemento" class="form-control" />
                            <span asp-validation-for="Complemento" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="CEP" class="form-label"></label>
                    <input asp-for="CEP" class="form-control" />
                    <span asp-validation-for="CEP" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="EstadoId" class="form-label"></label>
                    <select asp-for="EstadoId" class="form-select" asp-items="ViewBag.Estados"></select>
                    <span asp-validation-for="EstadoId" class="text-danger"></span>
                </div>
            </fieldset>

            <!-- Botões de Ação -->
            <div class="form-group text-end">
                <input type="submit" value="Cadastrar" class="btn btn-primary px-4" />
                <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
