<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/plux.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCCamiloMentoria.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-white shadow-sm px-3 py-2">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold text-primary fs-4 d-flex align-items-center" href="/">
                    <i class="fas fa-graduation-cap me-2"></i> School Manager
                </a>
            </div>
        </nav>
    </header>

    <div class="container pb-5">

        @* Área exclusiva para mensagens de TempData *@
        <div class="mt-3">
            @if (TempData["MensagemSucesso"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-check-circle me-1"></i> @TempData["MensagemSucesso"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                </div>
            }

            @if (TempData["MensagemErro"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fas fa-exclamation-triangle me-1"></i> @TempData["MensagemErro"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                </div>
            }
        </div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>


    <footer class="border-top footer text-muted bg-light">
        <div class="container text-center py-3">
            &copy; 2025 - <strong>FISAppAcademy</strong> - <a asp-controller="Home" asp-action="Privacy">Saiba Mais</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
