@model MVCCamiloMentoria.ViewModels.AulaViewModel

<h4>Editar Aula</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HorarioInicio" class="control-label"></label>
                <input asp-for="HorarioInicio" class="form-control" type="time" />
                <span asp-validation-for="HorarioInicio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HorarioFim" class="control-label"></label>
                <input asp-for="HorarioFim" class="form-control" type="time" />
                <span asp-validation-for="HorarioFim" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EscolaId" class="control-label"></label>
                <select asp-for="EscolaId" class="form-control" asp-items="@(new SelectList(ViewBag.Escolas, "Id", "Nome", Model.EscolaId))">
                    <option value="">Selecione a Escola</option>
                </select>
                <span asp-validation-for="EscolaId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProfessorId" class="control-label"></label>
                <select asp-for="ProfessorId" class="form-control" asp-items="@(new SelectList(ViewBag.Professores, "Id", "Nome", Model.ProfessorId))">
                    <option value="">Selecione o Professor</option>
                </select>
                <span asp-validation-for="ProfessorId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TurmaId" class="control-label"></label>
                <select asp-for="TurmaId" class="form-control" asp-items="@(new SelectList(ViewBag.Turmas, "Id", "Nome", Model.TurmaId))">
                    <option value="">Selecione a Turma</option>
                </select>
                <span asp-validation-for="TurmaId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DisciplinaId" class="control-label"></label>
                <select asp-for="DisciplinaId" class="form-control" asp-items="@(new SelectList(ViewBag.Disciplinas, "Id", "Nome", Model.DisciplinaId))">
                    <option value="">Selecione a Disciplina</option>
                </select>
                <span asp-validation-for="DisciplinaId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
