@model MVCCamiloMentoria.ViewModels.DisciplinaViewModel

<div class="container">
    <h3 class="mb-4">Tem certeza de que deseja excluir esta Disciplina?</h3>

    <div class="card">
        <div class="card-header bg-danger text-white">
            <h4 class="mb-0">Excluindo a Disciplina: @Model.Nome</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <!-- Exibe o nome da disciplina -->
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
            </dl>
        </div>
    </div>

    <!-- Formulário para confirmar a exclusão -->
    <div class="mt-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger btn-lg">
                <i class="fas fa-trash-alt"></i> Excluir
            </button>
        </form>

        <!-- Botão para voltar à lista -->
        <a asp-action="Index" class="btn btn-secondary btn-sm mt-2">
            <i class="fas fa-arrow-left"></i> Voltar para a Lista
        </a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
